/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Very Dark Blue: hsl(243, 87%, 12%)
- Desaturated Blue: hsl(238, 22%, 44%)

### Accent

- Bright Blue: hsl(224, 93%, 58%)
- Moderate Cyan: hsl(170, 45%, 43%)

### Neutral

- Light Grayish Blue: hsl(240, 75%, 98%)
- Light Gray: hsl(0, 0%, 75%)

## Typography

### Headings, Call-to-actions, Header Navigation

- Family: [hsl(0, 0%, 75%)](https://fonts.google.com/specimen/Raleway)
- Weights: 400, 700

### Body

- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400 */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

body {
  font-size: 16px;
  color:#08063C;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px;
  display: grid;
  grid-column: 1fr;
  grid-gap: 200px;
}

/* NAVABAR */
.menu {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 8fr 2fr;
  align-items: center;
}

.menu__list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 80px);
  justify-items: space-between;
}

.menu__list li {
  list-style: none;
}

.menu-link {
  text-decoration: none;
  color: rgb(19, 18, 18);
  display: grid;
  justify-content: end;
  font-family: 'Raleway', sans-serif;
}

.logo {
  max-width: 150px;
  width: 100%;
}

/* Wrapper*/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  grid-row-gap: 20px;
}

.container>* {
  border: 1px solid red;
}

.box-image {
  width: 100%;
}

.reverse-order {
  order: 1;
}

.box {
  display: grid;
  grid-template-columns: 1fr;
  align-items: space-around;
  margin: auto;
  line-height: 1.5;
  grid-gap: 15px;
  margin-right: 30px;
}
.box__heading {
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.box__desc {
  padding-right: 30px;
  font-weight: 400;
  font-size: 18px;
}

form {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-column-gap: 15px;
  padding-right: 90px;
}

label {
  display:none;
}

#email {
  padding: 14px 20px;
  border: 1px solid #08063C;
  border-radius: 4px;
}

#email::placeholder {
  color: hsl(0, 0%, 75%);
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}

.btn-cta {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  background-color: hsl(224, 93%, 58%);
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.btn-cta:hover {
  box-shadow:none;
  background-color: hsl(224, 89%, 47%);
}

.test {
  background-color: #F9F8FE;
}


